name: RSA Sniper Bot
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        # We added 'yfinance' here so it can get stock prices
        run: pip install edgartools requests packaging yfinance "hishel<0.1.0"
      - name: Run Sniper
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python rsa_sniper.py
      - name: Save Memory
        run: |
          git config --global user.name "RSA-Bot"
          git config --global user.email "bot@github.com"
          git add seen_filings.txt || true
          git commit -m "Update memory" || true
          git push
